@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  font-size: 22px;
  font-weight: bold;
}

.disc {
  font-size: 14px;
}

@layer components {
  .main-container {
    @apply container px-4 mx-auto md:px-4 lg:px-4 2xl:px-20;
  }
}
@layer components {
  .main-big {
    @apply px-4 mx-auto md:px-4 lg:px-4 2xl:px-20;
  }
}
